:root {
  /* color */
  --alpha-color: #8d1616;
  --beta-color: #ccc;
  --gamma-color: #f0f0f0;

  /* font */
  --primary-color: #007bff;
  --font-size: 16px;
}

/** общие */

body {
  font-family: Arial, sans-serif;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
h2 {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: var(--beta-color);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--gamma-color);
  padding: 10px 0;
}

.task-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--beta-color);
  background-color: #f9f9f9;
  border-radius: 8px;
}

.link_github {
  text-decoration: none;
  color: inherit;
}

.link_github:hover {
  color: var(--alpha-color);
}

/** карусель */

.carousel-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  max-height: 200px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.prev-button:hover,
.next-button:hover {
  opacity: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.carousel .slide img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.carousel .slide:hover img {
  filter: none;
}

/** блоки */

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex-basis: calc(25% - 20px);
  display: flex;
  flex-direction: column;
}
.cards {
  display: grid;
  /* Автоматически заполняем на всю ширину grid-контейнера */
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px; /* Ширина grid-контейнера */
  justify-content: center;
  justify-items: center; /* Размещаем карточку по центру */
  column-gap: 30px; /* Отступ между колонками */
  row-gap: 40px; /* Отступ между рядами */
  margin: 0 auto;
}

.card_task1 {
  min-width: 250px; /* Задайте минимальную ширину карточек */
}

/* Стили для карточек с заданной шириной */
.card[data-width] {
  width: calc(var(--card-width, 200px) - 20px);
  display: inline-block;

  box-sizing: border-box;
}

/* Стили для заголовка карточки */
.card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  color: #023162;
  position: relative;
  padding-bottom: 5px;
}

.card__title::after {
  content: "";
  display: block;
  width: 95%;
  height: 2px;
  background-color: #aba9a9;
  position: absolute;
  bottom: 0;
  left: 80%;
  transform: translateX(-83%);
}

/* Стили для текста карточки */
.card__text {
  flex: 1;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: justify;
  padding-top: 15px;
}

/* Стили для кнопки карточки */
.card__content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card__button {
  border: solid 1px #007bff;
  color: #0c0c0c;
  padding: 10px 10px;
  cursor: pointer;
  align-self: flex-end;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: center;
  margin-top: auto;
  margin: 0 auto;
  width: 90%;
}
.card__button:hover {
  background-color: #007bff;
  color: #ffffff;
}

@media (max-width: 800px) {
  .carousel-container {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .carousel-container {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .carousel-container {
    max-width: 200px;
  }
}
